{% extends 'base.html' %}
{% block content %}
    <div class="p-3 mt-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% if validlink %}
                        <div class="card shadow p-3 mb-4 rounded">
                            <div class="card-body">
                                <h2>Reset Your Password</h2>
                                {% if form.errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <div id="form_errors">
                                            {% for key, value in form.errors.items %}
                                                <strong>{{ value }}</strong>
                                            {% endfor %}
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <p>
                                        <label for="new_password1">New Password</label>
                                        <input type="password" name="new_password1" autocomplete="new-password"
                                               class="form-control" required id="new_password1"/>

                                    </p>
                                    <p>
                                        <label for="new_password2">New Password Confirmation</label>
                                        <input type="password" name="new_password2" autocomplete="new-password"
                                               required id="new_password2" class="form-control"/>
                                    </p>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-dark text-white" id="reset">Reset Password
                                        </button>
                                    </div><br>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}